.npmrc
.idea/
.next/
.turbo/
.vercel/
.vim/
build/
coverage/
dist/
node_modules/
.pnpm-store/

next-env.d.ts
*.tsbuildinfo

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.development.local
.env.local
.env.production.local
.env.test.local

*.pem
.DS_Store

__screenshots__
.vitest-attachments/
docs/
AGENTS.md
